# Dependencies
node_modules/

# Next.js build output
.next/

# Production build output
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other
.DS_Store
npm-debug.log*
.vercel
